body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  /* background-color: #ecf0f5; */
}

.row {
  width: 100%;
}

.App-row {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.data-container {
  padding: 1rem;
  border: 1px solid;
  background-color: cornsilk;
}

.data-container > .data-row {
  border: 1px solid;
  margin: auto auto 0.5rem;
  padding: 0.5rem 0;
}

@media (max-width: 547px) {
  .App > .App-row {
    margin: 0;
  }

  div.data-row {
    margin: auto;
    display: block;
  }

  .original, .clone {
    padding: 1rem;
  }
}